################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ComandaWeb/v16
/.vs
/ComandaWeb/.vs/ComandaWeb
/ComandaWeb/ComandaWeb/bin/Debug/netcoreapp3.1
/ComandaWeb/ComandaWeb/obj
/ComandaWeb/ComandaWeb.DAL.Comanda/bin/Debug/netcoreapp3.1
/ComandaWeb/ComandaWeb.DAL.Comanda/Migrations
/ComandaWeb/ComandaWeb.DAL.Comanda/obj
/ComandaWeb/ComandaWeb.Model/bin/Debug/netcoreapp3.1
/ComandaWeb/ComandaWeb.Model/obj
/ComandaWeb/ComandaWebXUnitTest/bin/Debug/netcoreapp3.1
/ComandaWeb/ComandaWebXUnitTest/obj
